.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4%;
}
.navbar .logo {
  width: 180px; /* Increase as needed */
  height: auto;
  object-fit: contain;
}
.navbar .profile {
  width: 40px;
}
